@use './_minireset.min.css';
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');
$soft-blue: hsl(215, 51%, 70%);
$cyan: hsl(178, 100%, 50%);
$very-dark-blue: hsl(217, 54%, 11%);
$dark-blue: hsl(216, 50%, 16%);
$blue-line: hsl(215, 32%, 27%);
$white: hsl(0, 0%, 100%);

html {
  font-size: 18px;
  font-family: 'Outfit', sans-serif;
}

body {
  background: $very-dark-blue;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
}

.card {
  background: $dark-blue;
  border-radius: 20px;
  width: 25em;
  height: 42em;
  margin: 3em auto;

  .container {
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: start;
    padding: .5em 0 0 0;
    width: 100%;

    .preview {
      border-radius: 10px;
      display: block;
      position: relative;
      margin: 1rem auto;
      max-width: 85%;
      max-height: 50%;
    }

    h1 {
      color: $white;
      margin-left: 1em;
    }

    p {
      color: $soft-blue;
      font-size: 1.2rem;
      line-height: 1.7;
      margin-left: 1.7em;
      margin-top: 0;
    }

    .details {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-left: 5px;
      width: 100%;

      .eth {
        color: cyan;
        font-weight: bold;
        margin-left: .8em;
        vertical-align: top;
        width: 100%;

        img {
          height: 1.5rem;
          width: 1.5rem;
          margin-right: .3em;
        }
      }

      .days {
        color: $soft-blue;
        margin-left: 8em;
        width: 100%;
        top: 10px;

        img {
          height: 1.2rem;
          width: 1.2rem;
          margin-right: .5em;
          vertical-align: middle;
        }
      }
    }

    hr {
      border: none;
      border-bottom: 1px solid $blue-line;
      clear: both;
      display: block;
      margin-top: 1em;
      width: 85%;
    }

    .credit--container {
      display: flex;
      flex-direction: row;
      align-items: flex-start;

      .avatar {
        width: 3em;
        height: 3em;
        border: $white solid 2px;
        border-radius: 290192px;
        margin: .5em 0 .5em 2em;
      }

      .credit {
        align-items: center;
        margin: 1em 0 0 1em;

        .name {
          color: $white;
        }
      }
    }
  }
}
















